* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Lato";
  font-style: normal;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(images/Rectangle25.svg);
  height: 10px;
  background: #222222;
  height: 75px;
}

.menu-left {
  margin-left: 199px;
}

.menu-right {
  margin-right: 236px;
}

.group2 {
  margin-top: 18px;
  margin-bottom: 19px;
}

.forma1 {
  margin-left: 41px;
  margin-top: 28px;
  margin-bottom: 20px;
}

.forma2 {
  margin-left: 859px;
  margin-top: 30px;
  margin-bottom: 22px;
  position: relative;
  padding-bottom: 15px;
}

.forma3 {
  margin-left: 33px;
  margin-top: 26px;
  margin-bottom: 20px;
}

.forma4 {
  margin-left: 33px;
  margin-top: 26px;
  margin-bottom: 20px;
}

.forma5 {
  background: #f16d7f;
  width: 19px;
  height: 19px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  top: -20px;
  right: 15px;
}

.mega-box {
  width: 232px;
  height: 760px;
  border-radius: 5px;
  background-color: #ffffff;
  top: 45px;
  left: -5px;
  position: absolute;
  display: none;
  z-index: 9999;
}

.mega-heading {
  margin-left: 34px;
  margin-top: 37px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu-link {
  margin-top: 12px;
  display: block;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 54.5px;
}

.menu-link:hover {
  color: #f17c8c;
  padding-left: 5px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mega-box:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #e8e8e8;
  top: -8px;
  left: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  position: absolute;
}

.forma2:hover .mega-box {
  display: block;
}

.bloc-menu {
  display: block;
}

.top_contact {
  margin-bottom: 64px;
}

form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-form {
  margin-left: 230px;
  margin-right: 230px;
}

.welcome {
  float: left;
}

.paragraph-right {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.paragraph-text {
  margin-left: 23.08px;
  margin-bottom: 16px;
}

.text-Get-in {
  margin-top: 22px;
  margin-bottom: 21px;
}

.form-text-right {
  margin-left: 128px;
}

.footer2-registration {
  margin-top: 96px;
}

#reg-name {
  border: 1px solid #A4A4A4;
  width: 358.99px;
  height: 44px;
}

.reg-nama {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20.5px;
}

#reg-name {
  width: 358px;
  height: 44px;
  border: 1px solid #A4A4A4;
  margin-bottom: 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 13px;
}

.radio-label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 13px;
  margin-bottom: 35px;
  color: #000000;
}

.reg-text-please {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.reg-img-arrow {
  margin-left: 20px;
}

.reg-btn {
  border: none;
  margin-top: 39px;
  margin-bottom: 96px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  width: 167px;
  height: 50px;
  border: 1px solid #F16D7F;
}

.reg-btn:hover {
  background: #FFFFFF;
  color: #F16D7F;
}

.div-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 128px;
}

.cart1 {
  width: 652px;
  height: 306px;
  -webkit-box-shadow: 20px 20px 24px 0px #e5e5e5;
          box-shadow: 20px 20px 24px 0px #e5e5e5;
  margin-bottom: 40px;
  margin-left: 230px;
}

.cart1:hover {
  margin-left: 5px;
  -webkit-transition: 3s all;
  transition: 3s all;
}

.cart-imgsvg {
  float: left;
}

.cart-paragraph {
  margin-left: 31px;
  margin-top: 22px;
  margin-right: 97px;
  margin-bottom: 62px;
  width: 262px;
  height: 222px;
  float: left;
}

.paragraph-text-mango {
  width: 262px;
  height: 58px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.paragraph-text-other {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.text-three-hundred {
  color: #F06579;
}

.card-svg-imgclose {
  position: relative;
  top: -277px;
  left: 616px;
  border: none;
  outline: none;
}

.div-shoping-CONTINUE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-shoping {
  width: 234px;
  height: 49px;
  margin-left: 230px;
}

.div-text-clear {
  border: 1px solid #A4A4A4;
  width: 234px;
  height: 49px;
}

.cart-form-general {
  margin-left: 128px;
}

.text-clear {
  width: 156px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 16.5px 40.5px 15.5px 39px;
}

.text-CONTINUE {
  width: 224px;
  height: 49px;
}

.div-text-CONTINUE {
  border: 1px solid #A4A4A4;
  width: 234px;
  height: 49px;
  margin-left: -50px;
}

.text-CONTINUE {
  width: 156px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 16px 39.5px 15.5px 38.5px;
}

.cart-form {
  margin-bottom: 57px;
}

#name {
  border: 1px solid #A4A4A4;
  width: 100px;
  height: 10px;
  padding: 12.5px 277.35px 15.5px 16.73px;
  margin-bottom: 21px;
}

#name-geta {
  border: 1px solid #A4A4A4;
  width: 101.41px;
  height: 35px;
  padding: 9.5px 13.69px 11.15px 14.7px;
  margin-bottom: 21px;
}

.text-SHIPPING {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20.5px;
  color: #222222;
}

.CHECKOUT {
  background: #F5F3F3;
  width: 360px;
  height: 240px;
}

.sub {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  padding: 39px 34px 12px 218px;
  color: #4A4A4A;
}

.grand-total {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 12px 37px 21px 153px;
  color: #222222;
}

.price {
  color: #F16D7F;
}

.cart-hr {
  width: 275px;
  height: 1px;
  background: #E2E2E2;
  margin: 21px 42px 17px 43px;
}

.buttom-CHECKOUT {
  width: 273px;
  height: 50px;
  background: #F16D7F;
  border: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 17px 43px 42px 44px;
}

.buttom-CHECKOUT:hover {
  background: white;
  color: #000000;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
}

.text_number {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  display: list-item;
  margin-top: -20px;
  margin-left: 6px;
}

.top {
  height: 764px;
  background-image: url(images/Background.svg);
}

.img_top {
  width: 800.58px;
  height: 764px;
  margin-top: 33px;
}

.img_text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.img_top2 {
  margin-left: 64px;
}

.paragrah_top {
  font-weight: 700;
  line-height: 40px;
  color: #222222;
  margin-top: 360px;
  margin-left: 16px;
  width: 275px;
  font-size: 22px;
  margin-right: 331px;
}

.text_Brand {
  font-size: 35px;
  font-weight: bold;
}

.text_FASHION {
  color: #f17c8c;
}

.midl_cards {
  margin-top: 65px;
}

.FOR_WOMEN {
  width: 360px;
  height: 260px;
  background-image: url(images/Group36.svg);
  float: left;
  margin-left: 230px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.FOR_MEN {
  width: 360px;
  height: 260px;
  background-image: url(images/Group37.svg);
  float: left;
  margin-bottom: 30px;
}

.FOR_KIDS {
  width: 360px;
  height: 260px;
  background-image: url(images/Group38.svg);
  float: left;
  margin-right: 230px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.LUXIROUS {
  background-image: url(images/Group39.svg);
  width: 1140px;
  height: 180px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text_span {
  color: #f16d7f;
  font-size: 20px;
  font-weight: bold;
}

.text_paragrash_block {
  width: 154px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin-top: 105px;
  margin-left: 103px;
}

.fourth_top_paragraph {
  margin-top: 65px;
  margin-right: 491px;
  width: 160px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.Fetured {
  width: 182px;
  font-weight: 400;
  font-size: 29px;
  line-height: 36px;
  color: #222222;
  margin-left: 710px;
  margin-right: 707px;
  text-align: center;
}

.Shop {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #9f9f9f;
  margin-left: 631px;
  margin-right: 633px;
  margin-top: 6px;
  text-align: center;
  margin-bottom: 48px;
}

.card1 {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  float: left;
  margin-left: 230px;
  margin-bottom: 30px;
}

.card2 {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card3 {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card4 {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  float: left;
  margin-left: 230px;
  margin-bottom: 48.45px;
}

.card5 {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  float: left;
  margin-left: 30px;
  margin-bottom: 48.45px;
}

.card6 {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  float: left;
  margin-left: 30px;
  margin-bottom: 48.45px;
}

.card7 {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  float: left;
  margin-bottom: 48.45px;
  margin-left: 230px;
}

.card8 {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  float: left;
  margin-left: 30px;
  margin-bottom: 48.45px;
}

.card9 {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  float: left;
  margin-left: 30px;
  margin-bottom: 48.45px;
}

.item-desc {
  font-family: "Lato";
  font-style: normal;
  margin-top: 25.36px;
  margin-left: 18px;
  margin-bottom: 12.65px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.item_cards_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
  margin-left: 16.46px;
  margin-top: 12.65px;
}

.item-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-bottom: 20px;
  margin-left: 18.46px;
}

.text_border_browse {
  width: 138px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #ff6a6a;
  padding: 14.5px 38.5px 13.5px 38.5px;
  margin: 48.5px 693.5px 95.5px 695.5px;
}

.text_border_browse:hover {
  background: #f26376;
  color: white;
}

.footer1 {
  background: #222224;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer1_card1 {
  width: 360px;
  height: 134px;
  margin-left: 230px;
  margin-top: 103px;
}

.footer1_card2 {
  width: 360px;
  height: 134px;
  margin-top: 103px;
  margin-left: 30px;
}

.footer1_card3 {
  width: 360px;
  height: 134px;
  margin-top: 103px;
  margin-left: 30px;
}

.truck {
  margin-left: 156px;
}

.text_footer1 {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  text-align: center;
  margin-top: 28.07px;
  margin-bottom: 16px;
}

.text2_footer1 {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.footer2 {
  background-image: url(images/Layer41.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer2_card1 {
  width: 359.45px;
  height: 225px;
  margin-left: 228.29px;
  padding-top: 97px;
  margin-top: -25px;
}

.Intersect {
  width: 144.58px;
  height: 150.36px;
  margin-left: 97.42px;
  margin-right: 117.95px;
}

.img_Intersect {
  margin-left: 24.29px;
  margin-right: 24.29px;
  margin-top: 10.41px;
  margin-bottom: 43.95px;
}

.footer2_card1_text {
  width: 359.45px;
  height: 99px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.SUBSCRIBE {
  width: 557px;
  height: 61px;
  font-weight: 400;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  margin-left: 233px;
  margin-right: 230px;
  margin-top: 150px;
}

.text-sub-bold {
  font-weight: bold;
}

.your_email {
  width: 256px;
  height: 49px;
  background: #e1e1e1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  border: none;
  padding-left: 22px;
  padding-right: 64px;
  margin-top: 32px;
  margin-left: 40px;
  float: left;
}

.btn-sub {
  background: #f16d7f;
  width: 100px;
  height: 49px;
  margin-top: 32px;
  margin-left: -65px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.btn-sub:hover {
  background: white;
  color: #f16d7f;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(images/Rectangle25.svg);
  height: 79px;
  background: #222222;
}

.top-product {
  margin: 0;
}

.footer-product {
  float: left;
  width: 100%;
}

.Reserved {
  width: 332px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
  margin: 30px 0px 30px 235px;
}

.icons {
  margin: 24px 230px 23px 655px;
  width: 158px;
}

.fa-brands:hover {
  background: #f16d7f;
  color: white;
}

.man {
  margin-bottom: 20px;
}

.woman {
  margin-bottom: 20px;
}

.kids {
  margin-bottom: 20px;
}

.heading-menu {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 24px;
  margin-left: 33px;
}

.mega-cancel {
  position: absolute;
  top: 10px;
  right: 15px;
}

.item {
  width: 360px;
  height: 581px;
  position: relative;
  margin-bottom: 40px;
}

.item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(202, 14, 14, 0.16);
          box-shadow: 0 5px 8px rgba(202, 14, 14, 0.16);
}

.item:hover .item-pic {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.add-box {
  display: none;
  position: absolute;
  top: 190px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border: 1px solid white;
  text-decoration: none;
  pointer-events: all;
}

.add-text {
  color: white;
  font-size: 13px;
  font-weight: 700;
  margin-left: 8px;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}

.item:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-flex {
  display: flow-root;
}

/*   Product   */
.top_contact {
  height: 148px;
  background: #f8f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-end;
}

.top-hidding-text {
  margin-left: 230px;
}

.top-nav {
  margin-left: 230px;
}

.top-vector {
  background: #F7F7F7;
  height: 777px;
}

.Layer42 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11px;
}

.midl-vector {
  width: 1141px;
  height: 601px;
  position: absolute;
  top: 930px;
  left: 230px;
  right: 229px;
  background: #FFFFFF;
  text-align: center;
  margin-bottom: 128px;
  border: 1px solid #EAEAEA;
}

.rectangle {
  width: 63px;
  height: 3.03px;
  background: #EF5B70;
}

hr {
  width: 641px;
  border: 1px solid #EAEAEA;
}

.add-product {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.midl-cars-product {
  margin-bottom: 128px;
  margin-top: 650px;
}

.middle-top-text {
  width: 150px;
  height: 17.14px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 64.54px;
  color: #F16D7F;
}

.rectangle {
  margin-top: 12.1px;
}

.middle-top-text2 {
  width: 253px;
  height: 22.19px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-top: 12.1px;
}

.middle-top-paragraph {
  width: 555px;
  height: 51.43px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-top: 48.41px;
}

.price-page-product {
  width: 56px;
  height: 29.25px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-top: 32.27px;
}

.hr-page-product {
  width: 641px;
  border: 1px solid #EAEAEA;
  margin-top: 65.04px;
}

.CHOOSE {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 65.05px;
  border: none;
}

select {
  border: none;
}

.select1 {
  width: 109px;
  height: 17.14px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 42px;
}

.select2 {
  width: 90px;
  height: 17.14px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 42px;
}

.select3 {
  width: 71px;
  height: 17.14px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.add-box-product {
  margin-top: 48.91px;
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 48px;
}

.img-car-product {
  margin-right: 23px;
  margin-top: 14.62px;
  margin-bottom: 8.57px;
  margin-left: -35px;
}

.add-text-product {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

/* Catalog */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
  margin-bottom: 64px;
}

.filter-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 246px;
}

.img-filter {
  margin-left: 11px;
}

.CHOOSE-page-catalog {
  margin-top: 0px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 620px;
}

.select1-catalog {
  width: 112px;
  height: 17x;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 42px;
}

.select2-catalog {
  width: 29px;
  height: 17px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 42px;
}

.select3-catalog {
  width: 39px;
  height: 17px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.section-caralog {
  margin-bottom: 48.5px;
}

.paginator {
  width: 282.91px;
  height: 43px;
  margin: 30px auto;
  white-space: nowrap;
  border: 1px solid #EBEBEB;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}

.prev {
  margin-left: 15.45px;
}

.next {
  margin-left: 14.79px;
  margin-right: 16px;
}

.current {
  margin-left: 17.5px;
}

.paginator a:hover {
  color: red;
}

#slider {
  position: relative;
  text-align: center;
  top: 10px;
}

#slider {
  margin: 0 auto;
}

#slides article {
  width: 20%;
  float: left;
}

#slides .image {
  width: 500%;
  line-height: 0;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

article img {
  width: 100%;
}

#desktop:checked ~ #slider {
  max-width: 960px;
}

#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
  background: url("images/prev.png") no-repeat;
  float: left;
  margin: -170px 0 0 -470px;
  display: block;
  height: 68px;
  width: 68px;
}

.all {
  height: 777px;
  background: #F7F7F7;
}

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1) {
  background: url("images/next.png") no-repeat;
  float: right;
  margin: -170px -480px 0 0;
  display: block;
  height: 68px;
  width: 68px;
}

label, a {
  cursor: pointer;
}

.all input {
  display: none;
}

#switch1:checked ~ #slides .image {
  margin-left: 0;
}

#switch2:checked ~ #slides .image {
  margin-left: -100%;
}

#switch3:checked ~ #slides .image {
  margin-left: -200%;
}

#switch4:checked ~ #slides .image {
  margin-left: -300%;
}

#switch5:checked ~ #slides .image {
  margin-left: -400%;
}

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#active label {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}

#active {
  margin: 45% 0 0;
  text-align: center;
}

#active label:hover {
  background: #76c8ff;
  border-color: #777 !important;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
  background: #18a3dd;
  border-color: #18a3dd !important;
}

#slides .image {
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#controls label:hover {
  opacity: 0.6;
}

#controls label {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.fa-brands {
  padding: 8px 11.83px 9.28px 11.55px;
  background: white;
  color: #000;
}
/*# sourceMappingURL=style.css.map */